@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Julius Sans One", sans-serif;
}

.hero {
  height: 100vh;
}

img {
  width: 500px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10vh;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  padding-left: 30px;
  padding-right: 30px;
}

#name {
  margin-bottom: 15px;
}

#github {
  position: relative;
  left: 50%;
  margin-left: -50px;
  bottom: 20px;
  font-size: 3rem;
  transition: 0.3s ease;
  color: green;
}

#github:hover {
  color: darkcyan;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3vh;
  }

  .text {
    font-size: 1.1rem;
    text-align: center;
  }
  img {
    width: 250px;
    height: 300px;
  }

  img.logo {
    display: block;
    margin: 0 auto;
  }

  #github {
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 0;
    transform: translate(-50%, -50%);
    bottom: 0;
  }
}
